.button {
  cursor: pointer;
  transition: scale ease-out 300ms;
  background: radial-gradient(rgb(224, 188, 70), rgb(238, 169, 64));
  color: rgb(73, 61, 23);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.button:hover {
  scale: 1.05;
}
.button:active {
  scale: 0.975;
}
