.form {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.25rem;
}
.form > * {
  display: grid;
  grid-column: 1 / -1;
}

.form > div {
  grid-template-columns: subgrid;
}
