.root_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.title {
  --title-size: 1.5;
  font-size: calc(var(--title-size) * 1rem);
  line-height: calc(2 / var(--title-size));
}

.content_container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container > * {
  max-width: 30rem;
}

.tabs {
  display: flex;
  gap: 0.55rem;
  border-bottom: 1px solid rgb(224, 188, 70);
}

.tabs a {
  line-height: 1.75;
  padding: 0.25rem;
  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid rgb(224, 188, 70);
}

.tabs a[data-status="active"] {
  background: radial-gradient(rgb(224, 188, 70), rgb(238, 169, 64));
  color: rgb(73, 61, 23);
}
